.ew_title {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 300;
}

.instructions {
    margin-top: 65px;
    font-size: 25px;
    text-align: center;
}

.message {
    margin-top: 65px;
    font-size: 25px;
    text-align: center;
}

.royal {
    margin-top: 65px;
    font-size: 25px;
    text-align: center;
}

.player_hand {
    margin-top: 60px;
    text-align: center;
}
  
.player_hand img {
    width: 300px;
}
